@charset "utf-8";
section {
}
h1 {
    left: 50%;
    right: 50%;
    text-align: center;
}
h2 {
    font-size: 120%;
    text-align: center;
}
body nav ul {
    list-style-type: none;
    clear: none;
    color: rgba(255,255,255,1.00);
}

body p {
    text-align: center;
    margin-left: 28%;
    margin-right: 28%;
    color: rgba(255,255,255,1.00);
}
body nav {
    color: rgba(255,255,255,1.00);
}

body footer {
    text-align: center;
    clear: both;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgba(55,58,90,1.00);
    color: rgba(255,255,255,1.00);
    height: 2.5%;
    padding-top: 2%;
    font-size: small;
}

.navlist {
    background-color: rgba(55,58,90,1.00);
    overflow-x: hidden;
    list-style-type: none;
}
.navlistitem a {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    color: rgba(255,255,255,1.00);
    text-decoration: none;
}
body div {
    padding-left: 36%;


}
